 <div class="user-details">
  <h1> Hi, I'm Kevin. </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <img src="https://img.icons8.com/color/96/000000/autodesk-autocad.png"/>
      <img src="https://img.icons8.com/color/96/000000/solidworks.png"/>
      <p>2D and 3D modeling with AutoCAD and Solidworks.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="https://img.icons8.com/color/96/000000/python.png"/>
      <img src="https://img.icons8.com/nolan/96/matlab.png"/>
      <p>Numerical and data analysis with Python and Matlab. Machine learning with Python.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://img.icons8.com/color/96/000000/git.png"/>
      <img src="https://img.icons8.com/color/96/000000/pycharm.png"/>
      <p>Version control with Git using my preferred IDE, Pycharm.</p>
    </div>
</div>
