<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="fitformulas" src="{{ "/assets/img/preview.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FitFormulas (python)</h3>
    <p>A compilation of calculators that are of relevance to athletes and gym-goers alike.</p>
    <a class="project-link" href="https://github.com/kcfusco/FitFormulas">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/xpf_night_splint.png" | prepend: site.baseurl }}" />    
  </div>
  <div class="contents-right">  
    <h3> XPF Night Splint </h3>
    <p>My senior design project. An orthotic device used in the treatment of plantar fasciitis and Achilles tendonitis. The goal of this project was to improve patient adherence
      by creating a splint that is both comfortable and effective for the user, as splints on the market tend to compromise one for the other. 
    </p>
    <a class="project-link" href="https://drive.google.com/drive/folders/1vjM-56d3hh4HGqFBsr1C1dtTG3ia46nP?usp=sharing">Download</a>
  </div>
</div>
