<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="powerstats" src="{{ "/assets/img/graph2.png" | prepend: site.baseurl }}" />

  <div class="contents">
    <h3> FitFormulas </h3>
    <p>A compilation of calculators that are of relevance to athletes and gym-goers alike.</p>
    <a class="project-link" href="https://github.com/kcfusco/FitFormulas">Check it out</a>

    <h3> Power Stats </h3>
    <p>Provides the user with insight of their current strength level in the sport of powerlifting. Queries openpowerlifting.org's database of lifters and then models 
      the data based on criteria provided by the user.</p>
    <a class="project-link" href="https://github.com/kcfusco/PowerStats">Check it out</a>
  </div>
    
  </div>
    <div class="images-left">
    <img alt="fitformulas" src="{{ "/assets/img/preview.PNG" | prepend: site.baseurl }}" />
  </div>
</div>
