<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  
  <div class="images-right">
    <img alt="fitformulas" src="{{ "/assets/img/preview.PNG" | prepend: site.baseurl }}" />
  </div>
  
  <div class="contents">
    <h3> FitFormulas </h3>
    <p>A compilation of calculators that are of relevance to athletes and gym-goers alike.</p>
    <a class="project-link" href="https://github.com/kcfusco/FitFormulas">Check it out</a>
  </div>
  
</div>

<div class="user-projects">
  
  <div class="images-left">
      
    <img alt="powerstats" src="{{ "/assets/img/graph2.png" | prepend: site.baseurl }}" />    
  </div>
  
  <div class="contents-right">  
    <h3> CAD Models! </h3>
    <p>Click the link to see some of the CAD models I've created using SolidWorks.</p>
    <a class="project-link" href="https://kcfusco.github.io/designs.html">Check it out</a>
  </div>
  
</div>
